.chat{
  width: calc(100% - 300px);
  .header{
    height: 100px;
    padding: 0 40px;
    box-sizing: border-box;
    .left-header{
      float: left;
      &__title{
        margin-top: 35px;
        font-size: 20px;
        color: #333;
      }
      &__members{
        // display: flex;
        @include flexbox;
        font-size: 12px;
        color: $light_gray;
        margin-top: 15px; 
        .member{
          display: inline-block;
          padding-right: 5px;
        }
      }
    }
    .right-header{
      height: 40px;
      line-height: 40px;
      padding: 0 20px;
      margin-top: 28px;
      border: 1px solid $light_blue;
      color: $light_blue;
      float: right;
      &__button {
        border: 1px solid $light_blue;
        position: absolute;
        margin: 30px 0 0;
        padding: 0 20px;
        right: 40px;
        height: 40px;
        line-height: 40px;
        color: $light_blue;
        text-decoration: none;
      }
    }
  }

  .messages{
    box-sizing: border-box;
    padding: 46px 40px;
    background: #FAFAFA;
    height: calc(100% - 100px - 90px);
    .messsage{ 
      .upper-message{
        display: flex;
        margin-bottom: 10px;
        &__user-name{
          color: $black;
          font-size: 16px;
          font-weight: bold;  
        }
        &__date{
          color: $light_gray;
          font-size: 12px;
          padding-left: 10px;
        }
      }
      .lower-message{
        position: relative;
        margin-top: 10px;
        &__content{
          color: $black;
          font-size: 14px;
          margin-bottom: 40px;
        }
      }
    } 
  }

  .form{
    // // position: absolute;
    // bottom: 0px;
    right: 0px;
    // width: calc(100% - 300px);
    height: 90px;
    padding: 20px 40px;
    background-color: #ddd;
    box-sizing: border-box;
    &__message{
      border: none;
      float: left;
      height: 50px;
      width: calc(100% - 150px);
      border-style: none;
      color: $black; 
    }
    &__mask{
      background-color: $white;
      float: left;
      height: 50px;
      padding-right: 10px;
      &__image{
        font-size: 20px;
        line-height: 50px;
      }
     .hidden{
       display: none;
     }
    }
    &__submit{
      height: 50px;
      padding: 0 30px;
      margin-left: 15px;
      background-color: $light_blue;
      color: $white;
      border: none;
      float: right;
      font-size: 16px;
    }
  }
}
 