.chat{
  width: calc(100% - 300px);
  float: left;
  .header{
    height: 100px;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px #eee;
    overflow-y: scroll;
  }
  .header::-webkit-scrollbar {
    display: none;
  }
  .left-header{
    float: left;
    margin-top: 35px;
    font-size: 20px;
    &__title{
      color: #333;
    }
    &__members{
      display: flex;
      @include flexbox;
      font-size: 12px;
      color: $light_gray;
      margin-top: 15px; 
      .member{
        display: inline-block;
        margin-left: 0.3rem;
      }
    }
  }
  .right-header{
    &__button {
      text-decoration: none;
      height: 40px;
      line-height: 40px;
      padding: 0 20px;
      margin-top: 30px;
      border: 1px solid $light_blue;
      color: $light_blue;
      float: right;
      position: absolute;
      right: 40px;
      cursor: pointer;
    }
  }

  .messages{
    box-sizing: border-box;
    padding: 46px 40px;
    background: #FAFAFA;
    height: calc(100vh - 100px - 90px);
    overflow-y: scroll;
  }
  .messages::-webkit-scrollbar {
    display: none;
  }
  .messsage{   
    padding-bottom: 40px;
  }
  .upper-message{
    display: flex;
    padding-top: 40px;
    margin-bottom: 10px;
    .upper-message__user-name{
      color: $black;
      font-size: 16px;
      font-weight: bold;  
    }
    .upper-message__date{
      color: $light_gray;
      font-size: 12px;
      padding-left: 10px;
    }
  }
  .lower-message{
    position: relative;
    margin-top: 10px;
    .lower-message__content{
      color: $black;
      font-size: 14px;
      margin-bottom: 10px;
    }
  }

  
  .form{
    right: 0px;
    height: 90px;
    padding: 20px 40px;
    background-color: #ddd;
    box-sizing: border-box;
    bottom: 0;
    &__message{
      border: none;
      float: left;
      height: 50px;
      width: calc(100% - 150px);
      border-style: none;
      color: $black;      
    }
    &__mask{
      background-color: $white;
      float: left;
      height: 50px;
      padding-right: 10px;
      &__image{
        font-size: 1.3rem;
        line-height: 50px;
        cursor: pointer;      
      }
     .hidden{
       display: none;
     }
    }
    &__submit{
      height: 50px;
      padding: 0 30px;
      margin-left: 15px;
      background-color: $light_blue;
      color: $white;
      border: none;
      float: right;
      font-size: 16px;
      cursor: pointer;
      width: 100px;
    }
  }
}
